# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build
build/
.build/

# SPM
.swiftpm/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output/

# Ruby
vendor/bundle
.bundle
Gemfile.lock

# OS
.DS_Store
*.swp
*~

# Secrets
*.p12
*.mobileprovision
*.cer
.env
.env.*
